@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.wrapper {
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border: 1px solid black;
    padding: 16px;
    font-size: 12px
}

.name {
    display: flex;
    column-gap: 8px;
}

.query-types {
    display: flex;
    column-gap: 8px;
}

.general-enquiry, .support-request {
    border: 1px solid black;
    padding: 8px;
    display: flex;
    column-gap: 4px;
}

.first-name, .last-name, .email-address, .query-type, .message-field {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.firstname-error, .lastname-error, .email-error, .query-error, .message-error, .checkbox_error {
    color: red;
}

.success-message {
    background-color: hsl(187, 24%, 22%);
    color: white;
    width: 332px;
    font-size: 11px;
    padding: 14px 24px 14px 14px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 10px;
    position: relative;
    display: none;
}

img {
    width: 10px;
}

.icon-and-message-style {
    display: flex;
    column-gap: 8px;
}

button {
    width: 100%;
    padding: 8px 0px;
    font-size: 10px;
    color: white;
    background-color: hsl(169, 82%, 27%);
    outline: none;
    border: none;
    border-radius: 4px;
}

input:hover, textarea:hover {
    cursor: pointer;
    outline-color: hsl(169, 82%, 27%);
}

.contact-us-heading {
    font-size: 18px;
    font-weight: bold;
}

input[type = "radio"], input[type = "checkbox"] {
    accent-color: green;
}




