@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.wrapper {
    padding: 94px;
    font-family: "Karla", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
}

.name {
    display: flex;
    column-gap: 8px;
}

.query-types {
    display: flex;
    column-gap: 8px;
}

.general-enquiry, .support-request {
    border: 1px solid purple;
    padding: 8px;
    display: flex;
    column-gap: 4px;
}

.first-name, .last-name, .email-address, .query-type, .message-field {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.firstname-error, .lastname-error, .email-error, .query-error, .message-error, .checkbox_error {
    color: red;
}

.success-message {
    background-color: hsl(187, 24%, 22%);
    color: white;
    width: 332px;
    font-size: 14px;
    padding: 8px 24px 8px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: relative;
    bottom: 623px;
    left: 427px;
    border-radius: 10px;
    display: none;
}

img {
    width: 10px;
}

.icon-and-message-style {
    display: flex;
    column-gap: 8px;
}




